<label style="display:inline;color: #ccc;">
  <%= time_ago_in_words article.created_at %> ago&nbsp;By <%= link_to link_to article.user.name, article.user  %>
</label>
<a href="<%= article_path article %>">详细</a>&nbsp;
<% if current_user? article.user %>
    <a href="<%= edit_article_path article %>">编辑</a>&nbsp;
<% end %>
<% if (current_user and current_user.admin?) %>
    <%= link_to '删除', article, confirm: '确定删除?', method: :delete %>
<% end %>