<%= form_for(@article) do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            <%= t("errors.template.header", {:count => @article.errors.count, :model => t("activerecord.models.article")}) %>
          </div>

          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title, :id => "article-title", :value => "#{@article.title || "请输入标题"}", :style => "width:98%;" %>
    </div>
    <div class="field">
      <%#= f.cktext_area :content, :class => "cktext_area", :toolbar => "Basic" %>
      <%= f.text_area :content, :style => "width:98%;" %>
    </div>
    <div class="actions" style="margin-top: 10px;">
      <%= f.submit "提交   ", :class => "btn", :id => "article-submit" %>
    </div>
<% end %>