<div class="common-line"></div>
<div style="vertical-align: top;">
  <div style="display: inline-block;vertical-align: top;">
    <%= gravatar_for user %>
  </div>
  <div style="display: inline-block;height:30px;margin-left: 3px;">
    <label style="font-size: 1.2em"><%= link_to user.name, user %></label>
    <%= user.email %>
  </div>
  <div style="display: inline-block;height:30px;float:right;text-align: right;padding-right: 2px;">
    <%= link_to user.latest.title, user.latest if user.latest %>
  </div>
</div>
<% if current_user and current_user.admin? %>
    <div>
      <%= link_to 'Show', user %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %>
    </div>
<% end %>