<table>
  <tr>
    <td style='vertical-align:top;'>

      <div class="main-content" style="display: block;">
        <h3><%= @user.name %>说</h3>
        <% @user.articles.each do |article| %>
            <div class="common-line" style="margin-top: 3px;margin-bottom: 3px;"></div>
            <a href="<%= article_path article %>"><%= article.title %></a>
        <% end %>
      </div>
      </div>

    </td>
    <td width='12px;'></td>
    <td style='vertical-align:top;'>

      <div class="side-bar">
        <div class="side-content" style="vertical-align: top;">
          <div style="display: inline-block;vertical-align: top;">
            <%= gravatar_for @user, :size => 30 %>
            <%#= image_tag @user.avatar.url(:thumb) %>
          </div>
          <div style="display: inline-block;height:30px;margin-left: 3px;">
            <h3><%= @user.name %></h3>
          </div>
          <div>
            <%= @user.email %>
          </div>
        </div>

        <div class="side-content" style="margin-top: 10px;">
          <%= render 'common/article_button' %>
        </div>

        <!--<div class="side-content" style="margin-top: 10px;">-->
        <!--<%#= render 'common/adsense' %>-->
        <!--</div>-->
      </div>

    </td>
  </tr>
</table>
